import React from 'react';
import './{{pascalCase name}}.scss';
import { I{{pascalCase name}} } from './{{pascalCase name}}.Interface'
interface Iprops {

}

const {{pascalCase name}} = (props:Iprops) => {
return (
<div className={`{{pascalCase name}}`}>
    {{pascalCase name}}
</div>
);
};

export default {{pascalCase name}};